h1 {
    color: #4c0909;
}

/** {
    border: solid;
}*/

.header{
    background-color: #e7e7e7;
    display:flex;
    justify-content:space-between;
}

.side-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
    text-decoration:brown ;

}

body{
    background-color: #39757c;
}
